<section id="about" class="about ">
    <div class="main">
        <img src="/assets/images/photo.JPG">
        <div class="about-text">
            <h2>About Me</h2>
            <h5>Developer <span> & Design</span></h5>
            <p>Computer programming is the process of performing a particular computation (or more generally, accomplishing a specific computing result), usually by designing and building an executable computer program. Programming involves tasks such
                as analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms (usually in a chosen programming language, commonly referred to as coding). The source code of a progra…</p>
            <button type="button" class="talktome">Let's Talk</button>
            <a href="/assets/files/NININAHAZWE_Alain Bruce_Resume_28-06-2023-11-27-16.pdf " download="resume Bruce Alain Nininahazwe.pdf " target="blank " class="resume " type=" button ">My resume <i class="ri-download-2-fill "></i></a>
            <a routerLink="/home" class="resumes"><i class="ri ri-arrow-up-fill"></i></a>
        </div>
    </div>
   
</section>
<!-- talk sectioon -->
<div class="talk-box aston" id="tbox">
    <div class="box-header ">
        <h2>Send me a message</h2>
    </div>
    <div class="box-body ">
        <form action="# " method="post ">
            <div class="inputs "><input type="email " name="sender " id="sender " placeholder="add your email adress "></div>
            <div class="inputs "> <textarea name="message " id="message " placeholder="Message me here " cols="30 " rows="10 "></textarea></div>
            <button class="resume " id="send">Send</button>
        </form>
    </div>
  
</div>

