<div class="service " id="service">
    <div class="title ">
        <h2>Ours Services</h2>
    </div>
    <div class="box ">
        <div class="card ">
            <i class="fa-solid fa-bars "></i>
            <h5>Web Development</h5>
            <div class="pra ">
                <p>Although it is not a full-fledged programming language, it is the standard language used to create web pages. HTML provides the structure for the web pages and is responsible for the proper formatting of text and images. It allows
                    the use of templates so designing a webpage can be done easily. It is lightweight and fast.</p>
                <p style="text-align: center; ">
                    <a class="button " href="# ">Read More</a>
                </p>

            </div>
        </div>
        <div class="card ">
            <i class="fa-solid fa-user "></i>
            <h5>Web Development</h5>
            <div class="pra ">
                <p>Although it is not a full-fledged programming language, it is the standard language used to create web pages. HTML provides the structure for the web pages and is responsible for the proper formatting of text and images. It allows
                    the use of templates so designing a webpage can be done easily. It is lightweight and fast.</p>
                <p style="text-align: center; ">
                    <a class="button " href="# ">Read More</a>
                </p>

            </div>
        </div>
        <div class="card ">
            <i class="fa-solid fa-bell "></i>
            <h5>Web Development</h5>
            <div class="pra ">
                <p>Although it is not a full-fledged programming language, it is the standard language used to create web pages. HTML provides the structure for the web pages and is responsible for the proper formatting of text and images. It allows
                    the use of templates so designing a webpage can be done easily. It is lightweight and fast.</p>
                <p style="text-align: center; ">
                    <a class="button " href="# ">Read More</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-----Conytact Me-->
<div class="contact-me " id="dast">
    <p>Let Me Get You A Beautiful Website</p>
    <a class="button-two " href="# ">Hire Me</a>
    <a routerLink="/home" class="resumes"><i class="ri ri-arrow-up-fill"></i></a>
</div>
